@charset "UTF-8";

/* --------------------------------
 * base
 * -------------------------------- */
html {
  font-size: 62.5%;
}
body {
  color: #333;
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
}
a:link, a:visited, a:hover, a:active {
  color: #d03c56;
  text-decoration: none;
}
/* --------------------------------
 * parts
 * -------------------------------- */
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
/* --------------------------------
 * header
 * -------------------------------- */
.header{
  width: 100%;
  background-color: #EAD49A;
}
.header .title{
  width: 100%;
  height: 80px;
  padding: 28px 0 10px;
  font-size: 5.0rem;
  color: #ffffff;
  text-align: center;
  vertical-align: baseline;
  font-weight: normal;
}
.header .global-nav{
  padding-top: 15px;
  text-align: center;
}
.global-nav .nav-item {
  display: inline-block;
  margin: 0 10px;
}
.global-nav .nav-item a{
  display: inline-block;
  width: 100px;
  height: 30px;
  line-height: 30px;
  color: #666;
  letter-spacing: 1px;
  font-size: 1.3rem;
  text-align: center;
}
